*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
}
#container {
    display:flex ;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
    background-color: rgba(68, 117, 136, 0.548);
}


.AjoutProduit{
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    /*border: 1px solid goldenrod;*/
}
h1{
    font-size: 40px;
    color:#f1f1f1;
    background: rgb(9, 127, 45);
    /*border:1px solid red;*/
}

p{
    margin: 20px;
    /*border: 1px solid rgb(35, 32, 218);*/
}
/* comprend toutes les casses à remplir */
input{
    font-size: 20px;
}
