*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/*--------------------------------------- fond d'écran ------------------------------*/
body{
    margin: 0;
    overflow: hidden;
    background: rgb(2, 2, 2);
    }
    
    .fonddEcran{
        width: 100vw;
        z-index: 0;

    }
    .fonddEcran i{
      position: absolute;
      width: 120px;
      height: 120px;
      border-radius: 50%;
      -webkit-animation: 'screen'  infinite;
      animation: 'screen'  infinite;
    }
    
    
    .fonddEcran i:nth-child(1){
      top:20px;
      left:30px;
      background: -webkit-radial-gradient(center, ellipse cover,  rgba(2,226,252,0.65) 0%,rgba(0,0,0,0) 100%);
      box-shadow:0px 0px 5px 0px #02e2fc;
      animation-duration: 5s;
    }
    
    .fonddEcran i:nth-child(2){
      top:420px;
      left:30px;
      background: -webkit-radial-gradient(center, ellipse cover,  rgba(250,160,2,0.65) 0%,rgba(0,0,0,0) 100%);
      box-shadow:0px 0px 5px 0px #faa002;
      animation-duration: 21s;
    }
    
    .fonddEcran i:nth-child(3){
      top:550px;
      left:880px;
      background: -webkit-radial-gradient(center, ellipse cover,  rgba(20,252,2,0.65) 0%,rgba(0,0,0,0) 100%);
      box-shadow:0px 0px 5px 0px #14fc02;
      animation-duration: 5s;
    }
    
    .fonddEcran i:nth-child(4){
      top:5px;
      left:1030px;
      background: -webkit-radial-gradient(center, ellipse cover,  rgba(252,2,196,0.65) 0%,rgba(0,0,0,0) 100%);
      box-shadow:0px 0px 5px 0px #fc02c4;
      animation-duration: 4s;
    }
    
    .fonddEcran i:nth-child(5){
      top:280px;
      left:12px;
      background: -webkit-radial-gradient(center, ellipse cover,  rgba(139,44,148,0.65) 0%,rgba(0,0,0,0) 100%);
      box-shadow:0px 0px 5px 0px #8b2c94;
      animation-duration: 5s;
    }
    
    .fonddEcran i:nth-child(6){
      top:550px;
      left:30px;
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(251,184,41,0.65) 0%,rgba(0,0,0,0) 100%);
    box-shadow:0px 0px 5px 0px #FBB829; 
      animation-duration: 6s;
    }
    
    .fonddEcran i:nth-child(7){
      top:650px;
      left:50px;
      background: -webkit-radial-gradient(center, ellipse cover,  rgba(195,255,104,0.65) 0%,rgba(0,0,0,0) 100%);
      box-shadow:0px 0px 5px 0px #C3FF68; 
      animation-duration: 15s;
    }
    
    .fonddEcran i:nth-child(8){
      top:20px;
      left:860px;
      background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,0,102,0.65) 0%,rgba(0,0,0,0) 100%);
      box-shadow:0px 0px 5px 0px #FF0066; 
      animation-duration: 5s;
    }
    .fonddEcran i:nth-child(9){
      top:896px;
      left:132px;
      background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,0,0.65) 0%,rgba(0,0,0,0) 100%);
      box-shadow:0px 0px 5px 0px #FFFF00; 
      animation-duration: 13s;
    }
    
    .fonddEcran i:nth-child(10){
      top:578px;
      left:357px;
      background: -webkit-radial-gradient(center, ellipse cover,  rgba(127,175,27,0.65) 0%,rgba(0,0,0,0) 100%);
      box-shadow:0px 0px 5px 0px #7FAF1B; 
      animation-duration: 4s;
    }
    
    .fonddEcran i:nth-child(11){
      top:380px;
      left:230px;
      background: -webkit-radial-gradient(center, ellipse cover,  rgba(1,210,255,0.65) 0%,rgba(0,0,0,0) 100%);
      box-shadow:0px 0px 5px 0px #01D2FF; 
      animation-duration: 5s;
    }
    
    .fonddEcran i:nth-child(12){
      top:570px;
      left:1100px;
      background: -webkit-radial-gradient(center, ellipse cover,  rgba(237,247,255,0.65) 0%,rgba(0,0,0,0) 100%);
      box-shadow:0px 0px 5px 0px #EDF7FF; 
      animation-duration: 6s;
    }
    
    .fonddEcran i:nth-child(13){
      top:600px;
      left:600px;
      background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,255,255,0.65) 0%,rgba(0,0,0,0) 100%);
      box-shadow:0px 0px 5px 0px #00FFFF; 
      animation-duration: 7s;
    }
    
    .fonddEcran i:nth-child(14){
      top:200px;
      left:520px;
      background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,255,0.65) 0%,rgba(0,0,0,0) 100%);
      box-shadow:0px 0px 5px 0px #0000FF; 
      animation-duration: 14s;
    }
    
    .fonddEcran i:nth-child(15){
      top:370px;
      left:500px;
      background: -webkit-radial-gradient(center, ellipse cover,  rgba(16,225,228,0.65) 0%,rgba(0,0,0,0) 100%);
      box-shadow:0px 0px 5px 0px #10e1e4; 
      animation-duration: 9s;
    }
    
    .fonddEcran i:nth-child(16){
      top:620px;
      left:730px;
      background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,51,0,0.65) 0%,rgba(0,0,0,0) 100%);
      box-shadow:0px 0px 5px 0px #FF3300; 
      animation-duration: 3s;
    }
    .fonddEcran i:nth-child(17){
      top:62px;
      left:330px;
      background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,234,232,0.65) 0%,rgba(0,0,0,0) 100%);
      box-shadow: 0px 0px 5px 0px #FFEAE8;
      animation-duration: 4s;
    }
    
    .fonddEcran i:nth-child(18){
      top:0px;
      left:250px;
      background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,229,0,0.65) 0%,rgba(0,0,0,0) 100%);
      box-shadow: 0px 0px 5px 0px #FFE500;
      animation-duration: 5s;
    }
    
    .fonddEcran i:nth-child(19){
      top:600px;
      left:180px;
      background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,102,153,0.65) 0%,rgba(0,0,0,0) 100%);
      box-shadow: 0px 0px 5px 0px #FF6699;
      animation-duration: 6s;
    }
    
    .fonddEcran i:nth-child(20){
      top:987px;
      left:13px;
      background: -webkit-radial-gradient(center, ellipse cover,  rgba(84,156,204,0.65) 0%,rgba(0,0,0,0) 100%);
      box-shadow: 0px 0px 5px 0px #549CCC;
      animation-duration: 7s;
    }
    
    .fonddEcran i:nth-child(21){
      top:120px;
      left:930px;
      background: -webkit-radial-gradient(center, ellipse cover,  rgba(184,175,3,0.65) 0%,rgba(0,0,0,0) 100%);
      box-shadow: 0px 0px 5px 0px #B8AF03;
      animation-duration: 8s;
    }
    
    .fonddEcran i:nth-child(22){
      top:80px;
      left:700px;
      background: -webkit-radial-gradient(center, ellipse cover,  rgba(171,250,249,0.65) 0%,rgba(0,0,0,0) 100%);
      box-shadow: 0px 0px 5px 0px #ABFAF9;
      animation-duration: 5s;
    }
    
    .fonddEcran i:nth-child(23){
      top:350px;
      left:720px;
      background: -webkit-radial-gradient(center, ellipse cover,  rgba(127,15,255,0.65) 0%,rgba(0,0,0,0) 100%);
      box-shadow: 0px 0px 5px 0px #7F0FFF;
      animation-duration: 2s;
    }
    
    .fonddEcran i:nth-child(24){
      top:997px;
      left:678px;
      background: -webkit-radial-gradient(center, ellipse cover,  rgba(48,128,0,0.65) 0%,rgba(0,0,0,0) 100%);
      box-shadow: 0px 0px 5px 0px #308000;
      animation-duration: 3s;
    }
    
    .fonddEcran i:nth-child(25){
      top:714px;
      left:246px;
      background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,38,38,0.65) 0%,rgba(0,0,0,0) 100%);
      box-shadow: 0px 0px 5px 0px #FF2626;
      animation-duration: 4s;
    }
    
    .fonddEcran i:nth-child(26){
      top:0px;
      left:480px;
      background: -webkit-radial-gradient(center, ellipse cover,  rgba(15,29,215,0.65) 0%,rgba(0,0,0,0) 100%);
    box-shadow: 0px 0px 5px 0px #0F1DD7;
      animation-duration: 5s;
    }
    
    .fonddEcran i:nth-child(27){
      top:456px;
      left:1000px;
      background: -webkit-radial-gradient(center, ellipse cover,  rgba(51,102,153,0.65) 0%,rgba(0,0,0,0) 100%);
      box-shadow: 0px 0px 5px 0px #336699;
      animation-duration: 6s;
    }
    
    .fonddEcran i:nth-child(28){
      top:350px;
      left:865px;
      background: -webkit-radial-gradient(center, ellipse cover,  rgba(70,172,255,0.65) 0%,rgba(0,0,0,0) 100%);
      box-shadow: 0px 0px 5px 0px #46ACFF;
      animation-duration: 7s;
    }
    
    .fonddEcran i:nth-child(29){
      top:100px;
      left:100px;
      background: -webkit-radial-gradient(center, ellipse cover,  rgba(222,4,5,0.65) 0%,rgba(0,0,0,0) 100%);
    box-shadow: 0px 0px 5px 0px #DE0405;
      animation-duration: 8s;
    }
    
    .fonddEcran i:nth-child(30){
      top:1087px;
      left:722px;
      background: -webkit-radial-gradient(center, ellipse cover,  rgba(77,254,21,0.65) 0%,rgba(0,0,0,0) 100%);
      box-shadow: 0px 0px 5px 0px #4DFE15;
      animation-duration: 9s;
    }
    
    .fonddEcran i:nth-child(31){
      width:200px;
      height:200px;
      top:795px;
      left:605px;
      background: -webkit-radial-gradient(center, ellipse cover,  rgba(243,10,70,0.65) 0%,rgba(0,0,0,0) 100%);
      box-shadow: 0px 0px 5px 0px #F30A46;
      animation-duration: 1s;
    }
    
    .fonddEcran i:nth-child(32){
      top:234px;
      left:678px;
      background: -webkit-radial-gradient(center, ellipse cover,  rgba(245,253,45,0.65) 0%,rgba(0,0,0,0) 100%);
      box-shadow: 0px 0px 5px 0px #F5FD2D;
      animation-duration: 2s;
    }
    
    .fonddEcran i:nth-child(33){
      top:270px;
      left:1230px;
      background: -webkit-radial-gradient(center, ellipse cover,  rgba(178,0,255,0.65) 0%,rgba(0,0,0,0) 100%);
      box-shadow: 0px 0px 5px 0px #B200FF;
      animation-duration: 3s;
    }
    .fonddEcran i:nth-child(34){
      width:200px;
      height:200px;
      top:1126px;
      left:332px;
      background: -webkit-radial-gradient(center, ellipse cover,  rgba(102,204,255,0.65) 0%,rgba(0,0,0,0) 100%);
      box-shadow: 0px 0px 5px 0px #66CCFF;
      animation-duration: 4s;
    }
    
    .fonddEcran i:nth-child(35){
      top:407px;
      left:83px;
      background: -webkit-radial-gradient(center, ellipse cover,  rgba(20,243,175,0.65) 0%,rgba(0,0,0,0) 100%);
      box-shadow: 0px 0px 5px 0px #14F3AF;
      animation-duration: 5s;
    }
    
    .fonddEcran i:nth-child(36){
      width:200px;
      height:200px;
      top:176px;
      left:297px;
      background: -webkit-radial-gradient(center, ellipse cover,  rgba(100,245,102,0.65) 0%,rgba(0,0,0,0) 100%);
      box-shadow: 0px 0px 5px 0px #64F566;
      animation-duration: 6s;
    }
    
    .fonddEcran i:nth-child(37){
      width:300px;
      height:300px;
      top:820px;
      right:10px;
      background: -webkit-radial-gradient(center, ellipse cover,  rgba(236,218,65,0.65) 0%,rgba(0,0,0,0) 100%);
      box-shadow: 0px 0px 5px 0px #ECDA41;
      animation-duration: 7s;
    }
    
    .fonddEcran i:nth-child(38){
      top:500px;
      left:500px;
      background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,61,45,0.65) 0%,rgba(0,0,0,0) 100%);
      box-shadow: 0px 0px 5px 0px #FF3D2D;
      animation-duration: 8s;
    }
    
    
    .fonddEcran i:nth-child(39){
      top:20px;
      right:26px;
      background: -webkit-radial-gradient(center, ellipse cover,  rgba(74,73,235,0.65) 0%,rgba(0,0,0,0) 100%);
      box-shadow: 0px 0px 5px 0px #4A49EB;
      animation-duration: 9s;
    }
    
    .fonddEcran i:nth-child(40){
      width:200px;
      height:200px;
      top:251px;
      left:1053px;
      background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,72,0,0.65) 0%,rgba(0,0,0,0) 100%);
      box-shadow: 0px 0px 5px 0px #FF4800;
      animation-duration: 10s;
    }
    
    
    @keyframes screen {
      from {
        opacity: 0;
      }
    
      25%{
        opacity: 0.3;
        transform: scale3d(3, 3, 4);
      }
    
      50%{
        opacity: 0.75;
      }
    
      75%{
        opacity: 1;
    
      }
    
      to{
        opacity: 0;
      }
    }
/*--------------------------------------- index.php ----------------------------------- */
#container {
    display:flex ;
    flex-wrap: wrap;
    z-index: 1;/* passe devant le numéro 0  */
    height: 100vh;
    width: 100vw;
    color: #f1f1f1; /* couleur des textes du panier */
    /*border: 5px solid rgb(218, 137, 32);*/
  }
  
  /*--------------------------------------- Nav bar ----------------------------------- */
  .menu{
    width: 100vw;
    text-align: center;
    font-size: 40px;
    z-index: 3;
    /*border: 5px solid rgb(156, 33, 105);*/
}

/* Configuration du boutton liens Panier */
.recapitulatif{
  font-size: 40px;
  background: transparent;
  border: none;
  margin:10px;
}

/* -----------------------------------Bouton Mode Sombre -------------------------- 

.btn-toggle{
    position: fixed;
    top:50px;
    right: 15px;
    width: 60px;
    height: 60px;
    z-index: 5;
    border-radius: 50%;
    background:#0F1DD7;
    color:#f1f1f1;
    border: 1px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;

}*/

/*------------------------- formulaire d'ajout de produits -------------------------- */
.AjoutProduit{
    height: 100vh;
    width: 100vw;
    z-index: 2;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    /*border: 1px solid goldenrod;*/
}

/* titre: Ajouter un produit */
h1{
    font-size: 40px;
    color: #f1f1f1;
    /*border:1px solid red;*/
}

/* textes informations du produit*/
p{
    margin: 20px;
    /*border: 1px solid rgb(35, 32, 218);*/
}

/* comprend toutes les casses à remplir, effet bleuté avec le curseur*/
input{
    font-size: 20px;
    color: #090a0a;
    box-shadow: 0 0 40px 40px #e8e8ee inset, 0 0 0 0 #e3e3ed;
    transition: all 150ms ease-in-out;
    
}
input:hover {
    box-shadow: 0 0 10px 0 #0000FF inset, 0 0 10px 4px #0000FF;
}

/*--------------------------------------- redap.php ----------------------------------- */
/* configuration du bouton liens Produits */
.Produits{
  font-size: 40px;
  background: transparent;
  border:none;/* pas de bordure au bouton */
}

/*-----------------------------------------   if   ------------------------------------ */

/* contaigner de cette page */
#recapitulatif{
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    /*border: 5px solid rgb(218, 137, 32);*/
}

/* class des balises HTML initialisant le tableau  */
#table {
    width: auto;
    height: fit-content; /* La plus grande des valeurs entre :La hauteur minimale intrinsèque. Et le minimum entre la hauteur intrinsèque préférrée et la hauteur disponible */
    max-width: 100vw;
    max-height: 100vh;
    font-size: 20px;
    text-align: right;
    padding:5px;
    color: #0a0909;
    border-collapse: collapse;
    margin:5px;
    background:#f1f1f1;
   /* border: 2px solid rgb(157, 30, 30);*/
}

/* class des titre des colonne du tableau */
#tableau {
    font-size: 25px;
    text-align: center;
    justify-content: center;
    align-items: center;
    /*border: 1px solid rgb(166, 122, 29);*/
}

/*  premet de mettre les noms de produits du coter gauche */
.designation{
    text-align: left;
}


/*---------------------------------------   Foreach   ------------------------------------ */

/* appel de toutes les class séparéments car il ne reponde pas à la class parent pour le padding. Ainsi que positionnement des textes différaments dans le tableau */

.nombre{
    padding: 5px;
}

.designation{
    padding: 5px;
}

.prix{
    padding: 5px;
    text-align: right;
}

.quantiter{
    padding: 5px;
    text-align: right;
}

.total{
    padding: 5px;
    text-align: right;
}

.general{
  padding: 10px;
}

.totalProduit{
  padding: 5px;
  text-align: right;
}

.supprimer{
  color: #0c0808;
  z-index: 4;
  font-size: 30px;
}
 /* -------------------------------------- bouton panier pour effacer les articles du tableau -------------------------------------*/
.boutonPanier{
    z-index: 5;
   font-size: 20px;
   color: #f1f1f1;
   
}
